/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #334a5b;
}
li {
  list-style-type: none;
}
h1, h2, h3{
  font-family: 'Fjalla One', sans-serif;
  color: #334a5b;
}
p, span{
  color: #334a5b;
}
hr {
  border-bottom: 2px solid #33475B;
  border-top: none;
  border-right: none;
}
.w80 {
  width: 70%;
  margin: 0 auto;

  /* debug */
  /* border: 1px solid red; */
  /* background-color: green; */
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
a.orange-white-btn {
  padding: 8px;
  color: white;
  border-radius: 5px;
  background-color: #fe775a;
  border: 2px solid #fe775a;
}
a.white-orange-btn {
  padding: 8px;
  border: 2px solid #fe775a;
  color: #fe775a;
  border-radius: 10px;
}
div.orange-white-btn {
  padding: 8px;
  border-radius: 5px;
  background-color: #fe775a;
  border: 2px solid #fe775a;
}
div.orange-white-btn > a {
  color: white;
}
/* .orange-white-btn a {
  padding: 10px;
  color: white;
  border-radius: 5px;
  background-color: #fe775a;
  border: 2px solid #fe775a; */


.white-box {
  /* position: relative; */
  background-color: white;
  border-radius: 5px;
  margin: 30px 0;
  /* border: 3px solid red; */
  /* debug */
  /* height: 250px; */
}


/* STILE ICONE */
.fa-angle-down, .fa-search, .fa-globe-americas {
  margin: 0 10px;
  vertical-align: middle;
}
.fa-search {
  color: #00b5e2;
}
.fa-check-circle {
  color: #fe775a;
  margin-right: 8px;
}

/* LANGUAGES - LOGIN BAR */
#languages-login-bar {
  border-bottom: 1px solid #33475B;
  background-color: #F4F9FD;
  /* debug */
  /* min-height: 10vh; */
}

#languages-login-bar .content-left,
#languages-login-bar .content-right {
  float: left;
  width: 50%;
  line-height: 10vh;
  /* debug */
  /* border: 1px solid black;
  background-color: red; */
}
#languages-login-bar .content-left li,
#languages-login-bar .content-right li {
  display: inline-block;
  margin-right: 15px;
}
#languages-login-bar .content-right {
  text-align: right;
}

/* LOGO - NAVBAR */
#logo-navbar {
  height: 10vh;
  /* debug */
  /* background-color: white; */
}
#logo-navbar div {
  line-height: 10vh;
}
#logo-navbar .logo {
  float: left;
}
#logo-navbar .logo > img {
  vertical-align: middle;
}
#logo-navbar nav {
  float: right;
}
#logo-navbar nav ul li {
  display: inline-block;
  margin-right: 15px;
}

/* JUMBOTRON */
#jumbotron {
  min-height: 100vh;
  background-image: url("../img/jumbotron.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}
#jumbotron-cta {
  padding: 50px 0;
  width: 45%;
  /* debug */
  /* border: 1px solid red; */
}
#jumbotron-cta h1 {
  margin-bottom: 30px;
  font-size: 40px;
  letter-spacing: 2px;
}
#jumbotron-cta > * {
  margin: 25px 0;
}
#jumbotron-cta span {
  display: block;
}

/* INIZIO MAIN */

/* CRM SECTION */
#crm-section {
  background-color: #f4f9fd;
}
#crm-section .w80 {

  /* debug */
  min-height: 1000px;
  /* background-color: red; */
}
#crm-section section {

  /* debug */
  /* height: 200px; */
  /* background-color: yellow; */
  /* border: 1px solid black; */
}
#crm-section section:first-child {
  text-align: center;
}
#crm-section .w80 > section > img {
  margin: 30px auto 10px;
  width: 20%;
}
#crm-section .top h1 {
  font-size: 30px;
}
#crm-section .top p {
  width: 95%;
  margin: 20px auto;
}
#crm-learn-more .white-box > div {
  float: left;

  /* debug */
  /* height: 200px; */
  /* background-color: purple; */
  /* border: 1px solid black; */
}
#crm-learn-more .white-box .left {
  width: 30%;

  /* debug */
  /* background-color: red; */
}
#crm-learn-more .content-left {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* debug */
  /* background-color: yellow; */
}
#crm-learn-more .content-left img {
  max-width: 100%;
  width: 50%;

  /* debug */
  /* background-color: red; */
}

#crm-learn-more .content-left a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  /* debug */
  /* border: 1px solid black; */
}
#crm-learn-more .right,
#crm-learn-more .left {
  padding: 20px;
  margin: 20px 0;
}
#crm-learn-more .right {
  width: 70%;

  /* debug */
  /* padding: 10px; */
  /* background-color: blue; */
}
#crm-learn-more .content-right  {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* debug */
  /* border: 2px solid yellow; */
}
#crm-learn-more .content-right h2,
#crm-learn-more .content-right p,
#crm-learn-more .content-right h3,
#crm-learn-more .content-right div,
#crm-learn-more .content-right hr {
  margin-bottom: 20px;
}
#crm-learn-more .content-right p {
  width: 90%;
}
#crm-learn-more .content-right > span,
#crm-learn-more .content-right > hr {
  display: inline-block;

  /* debug */
  /* background-color: red;
  border: 2px solid yellow; */
}
#crm-learn-more .content-right > span {
  width: 30%;
}
#crm-learn-more .content-right hr {
  width: 60%;
}
#feature-check span{
  margin-right: 20px;
}

/* CRM CARD */
#crm-card {
  display: flex;
  justify-content: space-around;
  /* debug */
  /* height: 700px; */
  /* background-color: purple; */
}

#crm-card .card {
  text-align: center;
  /* debug */
  /* background-color: blue; */
}
#crm-card .card:nth-child(2) {
  margin-left: 90px;
  margin-right: 90px;
}
#crm-card .card .top,
#crm-card .card .bottom {
  padding: 20px;
}
#crm-card .card .top {
  width: 95%;
  /* debug */
  /* background-color: yellow; */
}
#crm-card .card .top h2 {
  margin-top: 30px;
  /* debug */
  /* background-color: yellow; */
}
.card-logo {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}
#crm-card .card .top img {
  max-width: 100%;
}
#crm-card .card hr {
  width: 60%;
  margin: 0 auto;
}
#crm-card .bottom > h3 {
  margin-bottom: 20px;
  text-transform: uppercase;
}
#crm-card .bottom > span {
  display: block;
  text-align: left;
}
#crm-card .bottom .orange-white-btn {
  margin: 35px auto 5px;
  padding: 15px 0 15px;
  width: 50%;
  font-size: 13px;

}

/* LEARN AND GROW */
#learn-grow {
  /* debug */
  background-color: #00a8b9;
}
#learn-grow .top {
  padding: 30px;
  /* debug */
  /* background-color: red; */
}
#learn-grow > .w80 > .top span {
  display: block;
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: bold;
}
#learn-grow .top span,
#learn-grow .top p {
  color: #ffffff;
  text-align: center;
}

#learn-grow-info {
  padding: 40px;
  /* debug */
  /* height: 300px; */
  /* background-color: yellow; */
}
.learn-grow-row:first-child {
  border-bottom: 2px solid white;
}
.learn-grow-box {
  float: left;
  padding: 30px;
  width: calc(100% / 4);

  /* debug */
  /* height: 150px; */
  /* background-color: red; */
}

.learn-grow-box:nth-child(2) {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.learn-grow-box:nth-child(3) {
  border-right: 2px solid white;
}

.learn-grow-box .learn-grow-logo,
.learn-grow-box .learn-grow-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.learn-grow-logo {
  margin-bottom: 15px;
}
.learn-grow-logo span i {
  font-size: 25px;
  color: white;
}
.learn-grow-text > span{
  color: white;
}
.learn-grow-text > span:first-child {
  font-size: 30px;
  font-weight: bold;
}
.learn-grow-text > span:last-child {
  margin-top: 10px;
  font-size: 12px;
}

/* START GROWING - WOMAN */
#growing-today {

  /* debug */
  /* background-color: red; */
  /* height: 600px; */
}
#customers {
  margin-bottom: 30px;
}
#customers-number, #customers-logo {
  float: left;
  margin: 30px 0 10px;
  padding: 5px;
}
#customers-number {
  width: 30%;
  /* debug */
  /* height: 100px; */
  /* background-color: purple; */
}
#customers-logo {
  width: 70%;
}
#customers-number .text {
  width: 60%;
  margin: 0 auto;
}
#customers-number h1 {
  font-size: 30px;
  margin: 10px 0;
}
#customers-number span {
  font-size: 14px;
}
#customers-logo .row {
  margin: 20px 0 0;
}
#customers-logo .logo {
  display: inline-block;
  margin: 0 5px;
  width: calc((100% / 4) - 13px);
  text-align: center;
}
#customers-logo .logo img {
  width: 70%;
  vertical-align: middle;
}
#start-growing-woman {
  /* background-color: green; */
}
#start-growing-woman .cta-section, .woman {
  float: left;
  padding: 20px;
  margin: 0 0 30px;
  /* border: 1px solid black; */
}
#start-growing-woman .cta-section {
  width: 40%;
}
#start-growing-woman .cta-section h1 {
  font-size: 26px;
  margin-bottom: 15px;
}
#start-growing-woman .cta-section p {
  margin: 30px 0;
}
#start-growing-woman .cta-section a {
  font-size: 12px;
  padding: 15px 30px;
}
#start-growing-woman .cta-section span {
  display: block;
  margin-top: 30px;
}
#start-growing-woman .woman {
  width: 60%;
  text-align: right;
}
#start-growing-woman .woman > img {
  width: 35%;
}


/* FOOTER */
footer {
  background-color: #32495b;

  /* debug */
  /* height: 700px; */
}
#footer-link {

  /* debug */
  /* border: 1px solid white; */
}
#footer-link .column {
  float: left;
  margin: 10px 10px;
  width: calc((100% / 4) - 20px);
  padding: 10px;
  /* debug */
  /* border: 1px solid red; */
}
footer h4 {
  color: white;
  margin-bottom: 20px;
}
footer a {
  display: block;
  color: white;
  font-weight: normal;
  font-size: 13px;
}
footer ul li {
  list-style: none;
  margin: 15px 0;
}
.contact-btn {
  width: 90%;
  padding: 8px;
  background-color: #dbdfe1;
  border-radius: 3px;
  /* debug */
  /* border: 1px solid black; */
}
.contact-btn a {
  color: #334a5b;
  font-size: 15px;
}
#social-icon {
  width: 90%;
  /* debug */
  /* background-color: red; */
}
#social-icon li {
  margin: 5px 5px;
  width: calc((100% / 5) - 10px);
  /* debug */
  /* background-color: green; */
}
footer ul .icon {
  float: left;
}
footer span {
  color: white;
}
#footer-languages ul {
  text-align: center;
}
#footer-languages li {
  display: inline-block;
  margin: 30px 10px 20px;
}
#footer-languages hr {
  border-width: 1px;
  border-color: white;
}
#copyright {
  width: 50%;
}
#copyright span {
  display: block;
  font-size: 15px;
}
#legal {
  width: 50%;
  text-align: right;
}
#legal a {
  display: inline-block;
}
#legal a:last-child {
  margin-left: 20px;
}
#copyright, #legal {
  float: left;
  margin: 30px 0;

  /* debug */
  /* height: 100px;
  background-color: red;
  border: 1px solid black; */
}
