/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: #33475B;
}
.w80 {
  width: 75%;
  margin: 0 auto;
  /* debug */
  /* background-color: green; */
}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.orange-white-btn {
  padding: 10px;
  color: white;
  border-radius: 10px;
  background-color: #ff7a59;
  border: 2px solid #ff7a59;
}
.white-orange-btn {
  background-color: ;
  padding: 10px;
  border: 2px solid #ff7a59;
  color: #ff7a59;
  border-radius: 10px;
}

/* STILE ICONE */
.fas {
  margin: 0 10px;
  vertical-align: middle;
}
.fa-search {
  color: #00b5e2;
}

/* INIZIO HEADER */
header {
  /* debug */
  /* background-color: red; */
}
.header-top {
  height: 10vh;
  background-color: #F4F9FD;
  border-bottom: 2px solid #33475B;
}
.header-top > div {
  line-height: 10vh;
}
.left-button{
  float: left;
}
.right-button{
  float: right;
}

.left-button ul li,
.right-button ul li {
  display: inline-block;
  margin-right: 15px;
}


/* INIZIO LOGO - NAVBAR */
.logo-navbar {
  height: 10vh;

  /* debug */
  /* background-color: white; */
}
.logo-navbar div {
  line-height: 10vh;
}
.logo {
  float: left;
}
.logo > img {
  vertical-align: middle;
  max-width: 100%;
}
.logo-navbar nav {
  float: right;
}
.logo-navbar nav ul li {
  display: inline-block;
  margin-right: 15px;
}

.header-jumbotron {
  height: 100vh;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
}
